<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @contestant.user_id %>
</p>

<p>
  <b>Game:</b>
  <%= @contestant.game_id %>
</p>

<p>
  <b>State:</b>
  <%= @contestant.state %>
</p>


<%= link_to 'Edit', edit_contestant_path(@contestant) %> |
<%= link_to 'Back', contestants_path %>
